<!--------------------------------------------------! inizio header -->
    <header id="header"><div class="s_1260">
<!------------------------------! inizio prima parte -->
    	<%= link_to "", root_path, id: "logo" %>
        <nav>
			<ul id="menu1">
            
            	<li><%= link_to "Home", root_path, title: "Pagina iniziale di Rainstorming Design" %></li>
            	<li><%= link_to "Designers", users_path, title: "I creative di Rainstorming Design" %></li>
            	<li><%= link_to "Progetti", progetti_path, title: "Progetti su Rainstorming Design" %></li>
            	<li><%= link_to "Annunci", annunci_path, title: "Annunci Rainstorming Design" %></li>
            	
     
            	             
            </ul>
        </nav>
<!------------------------------! fine prima parte -->
<div class="clear"></div>

    </div></header>
<!---------------------------------------------------! fine header --><div class="clear"></div>